.ant-card-meta {
  height: 200px;
  overflow: scroll;
}

.ant-pagination {
  text-align: center;
}

.ant-input-group-wrapper {
  margin: 10px;
}

.ant-select {
  margin: 10px;
}

.logo {
  width: 120px;
  height: 31px;
}

#components-layout-demo-top .logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 24px 16px 0;
  float: left;
}
